body{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Ensure it appears on top of the chart */
}
.container{
  padding-top:40px;
  width:80%;
  margin: 0 auto;
  text-align: center;
}
.row{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.col-3{
  width:33%;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-3 a{
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 15px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 210px;
  transition: all 0.3s ease 0s;
}
.col-3 a:hover{
  transform: translate(0px, -10px);
}
.col-3 .sub-title{
  padding-top:20px;
}
.col-3 .type{
  font-size: 16px;
  color:grey;
  padding-top:5px;
}
#legend{
  display: flex;
  flex-direction: row;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  padding: 5px 10px;
}
nav a{
  text-decoration: none;
  color:#fff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
nav ul li{
  padding-right: 10px;
  border: none;
}
.chart-details{
  list-style: none;
  text-align: center;
  /* width: 40%; */
  margin:20px auto;
  font-size: 12px;
  line-height: 2;
}
#chart-container svg ~ svg{
  display: none !important;
}

@media(max-width:786px){
  .row{
    flex-direction: column;
  }
  .row .col-3{
    width: 100%;
  }
}